@charset "UTF-8";

@import "color";
@import "mixin";

$shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.1);

body {
  color: $cBlack;
  word-break: break-all;
  letter-spacing: 1px;
  font-size: 15px;
  font-family: 'Noto Serif', serif;
  line-height: 1.8;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}


.header {
  width: 100%;
  background: $cWhite;

  &_all {
    @include flex(space-between);
    height: 100px;

    .logo {
      padding: 10px 20px;

      img {
        width: auto;
        height: 60px;

        @include mq(sp) {
          height: 45px;
        }
      }
    }

    .nav_bar {
      margin: 0 30px;
      
      @include mq(sp) {
        display: none;
      }

      ul {
        display: flex;
  
        @include mq(tab) {
          margin-left: -80px;
        }
        li {
          height: 50px;
          margin: 40px 16px 0;

          @include mq(tab) {
            margin: 20px 8px 0;
          }

          .respons {
            display: none;
          }

          a {
            font-size: 24px;
            font-weight: bold;
            padding: 8px 0;
            color: $cGray_strong;

            @include mq(tab){
              font-size: 15px;
            }
            &:hover {
              color: $cBlue;
            }

            small {
              font-size: 12px;
              font-weight: 400;
              display: block;
              visibility: hidden;
              text-align: center;
              color: $cBlue;
              border-top: solid 3px $cBlue;
            }
          }
        }
      }
    }
  }
}

header {
  @include mq(sp) {
    .drawer {
    visibility: visible;
    width: 24px;
    right: 10px;
    top: 10px;
    position: absolute;
    border-top: solid 4px #aaaaaa;
    cursor: pointer;
    z-index: 100;

    &::before, &::after {
      content: "";
      display: block;
      width: 24px;
      background: #aaaaaa;
      height: 4px;
      position: absolute;
      right: 0;
      -webkit-transition: all 0.5s;
      transition: all 0.5s;
      }
    
    &::before {
      top: 6px;
    }

    &::after {
      top: 15px;
    }
    }
  }
}

.top {
  width: 100%;
  height: auto;

  &_bg {
    position: relative;
    width: 100%;
    height: 70vh;
    min-height: 680px;
    background: url("/img/top.jpg") no-repeat center;
    background-position: 70% 80%;
    background-size: cover;
  }

  &_img {
    font-size: 22px;
    position: absolute;
    z-index: 3;
    top: 30%;
    left: 8%;
    width: 500px;
    height: auto;
    color: $cGray;

    @include mq(sp) {
      left: 2%;
      width: 90%;
    }

    img {
      width: 500px;
      height: auto;

      @include mq(sp) {
        width: 300px;
      }
    }

    .subtext {
      margin-left: 10px;
    }
  }
}

.section_ttl {
  margin: 200px 0 50px;
  text-align: center;

  h2 {
    font-size: 50px;
    display: inline-block;
    color: $cBlue;
  }

  small {
    font-size: 28px;
    display: block;
    border-top: 2px solid $cBlue;
  }
}

.about {
  width: 100%;
  height: auto;

  &_wrap {
    @include flex;
    padding-left: 4%;

    @include mq(tab) {
      flex-direction: column-reverse;
      padding-left: 0;
    }
  }

  &_img {
    position: relative;
    display: inline-block;

    @include mq(tab) {
      margin: 40px auto;
    }

    img {
      width: 50vw;
      max-width: 500px;
      height: auto;
    }

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      content: "";
      background: rgba(0, 0, 0, 0);
      box-shadow: inset 0 0 16px 10px $cWhite;
    }
  }

  &_txt {
    margin: 8px 4%;

    p {
      line-height: 48px;

      strong {
        background:  linear-gradient(transparent 50%, $cYellow);
      }
    }
  }

  &_ttl {
    font-size: 40px;
    display: inline-block;
    margin-bottom: 24px;
    color: $cOrange;

    &::after {
      display: inline-block;
      width: calc(100% - 29px);
      height: 3px;
      content: "";
      background: $cOrange;
    }
  }
}

.feature {
  width: 100%;
  background: $cGray_bg;

  &_txt {
    width: 65%;
    margin: 0 auto;
    padding: 0 3%;

    p {
      line-height: 1.8em;
      padding-bottom: 140px;
      letter-spacing: 0.2em;

      strong {
        color: $cOrange;
      }

      span {
        border-bottom: solid 2px $cOrange;
      }
    }
  }

  &_wrap {
    text-align: center;
  }

  &_item {
    display: inline-block;
    max-width: 480px;
    height: 680px;
    margin: 0 16px;
    vertical-align: top;
    background-color: $cWhite;
    box-shadow: $shadow;

    @include mq(tab) {
      margin-bottom: 50px;
    }
    h3 {
      font-size: 28px;
      padding: 28px 0px;
      text-align: center;
    }

    p {
      font-size: 24px;
      line-height: 1.5em;
      padding: 0 24px;
    }
  }

  &_img {
    width: 100%;
    height: 60%;
    background-position: 100% 50%;
    background-size: cover;
  }

  .item1 .feature_img {
    background-image: url("/img/feature1.jpg");
  }
  .item2 .feature_img {
    background-image: url("/img/feature2.jpg");
  }
}
.arrow {
  text-align: right;
  margin-top: 50px;
  margin-right: 100px;

  @include mq(sp) {
    width: 90%;
    margin-top: 25px;
    margin-right: 20px;
  }

  img {
    width: 100%;
  }
}

.service {
  width: 100%;
  margin: 0 auto;

  &_txt {
    width: 65%;
    margin: 0 auto;
    padding: 0 3%;

    p {
      line-height: 1.8em;
      padding-bottom: 140px;
      letter-spacing: 0.2em;

      strong {
        color: $cOrange;
      }
    }
  
  }
  &_item {
    @include flex(right);
    width: 90%;
    margin: 0 auto;
    height: auto;
    margin-bottom: 28px;
    background-color: $cWhite;
    box-shadow: $shadow;

    @include mq(sp) {
      flex-direction: column;
      padding: 8% 0;
    }


    &_img {
      width: 25%;
      padding-left: 16px;

      @include mq(sp) {
        padding-left: 0;
      }

      img {
        width: 100%;
        height: auto;
      }
    }

    p {
      width: 65%;
      margin-left: 30px;
      font-size: 20px;
      line-height: 1.8em;

      @include mq(sp) {
        margin-left: 0;
      }
    }
  }
}

footer {
  padding: 50px 0 20px;
  background-color: $cGray_footer;
}

.footer {
  &_logo {
    width: 350px;
    height: auto;
    margin: 0 auto 40px;

    img {
      width: 100%;
    }
  }

  &_list {
    @include flex;
    margin-bottom: 50px;

  }

  &_item {
    padding-right: 28px;
    margin-right: 20px;
    border-right: solid 3px $cBlue;
    font-size: 18px;
    line-height: 1;

    @include mq(sp) {
      padding-right: 8px;
      margin-right: 8px;
    }

    &:last-child {
      padding-right: 0;
      margin-right: 0;
      border-right: none;
    }

    a {
      color: $cBlack;

      &:hover {
        color: $cBlue;
      }
    }
  }

  &_sns {
    @include flex;

    .sns_icon {
      &1 {
        margin-right: 25px;
      }

      &1:hover, &2:hover {
        -webkit-transition: 0.2s;
        transition: 0.2s;
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
      }
    }
  }
  
  &_txt {
    display: block;
    text-align: center;
    font-size: 15px;
    margin: 25px 0 100px;
  }
}